* {
  margin: 0;
  padding: 0;
}

/* =========== HEADER STYLES =========== */

header {
  width: 90%;
  margin: auto;
  padding: 10px 0;
}

nav {
  padding: 15px 0;
}

.nav-links {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  list-style: none;
}

.nav-item {
  margin-left: 25px;
  text-decoration: none;
  color: #000;
  text-transform: uppercase;
  font-family: 'Roboto Condensed', sans-serif;
}

.active {
  border-bottom: 1px solid rgb(35, 121, 10);
}

.logo-container {
  position: absolute;
  left: 5%;
}

.logo {
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.logo-img { 
  height: 44px;
  width: auto;
  margin: auto;
}

.logo-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 11px;
  color: #000;
}

/* =========== BODY STYLES =========== */
main {
  margin: 0 10%;
}

h1{
  margin-top: 5%;
}

iframe{
  width: 50%;
}

.success-story {
  display: flex;
  justify-content: flex-start;
  margin: 2em 0 10em 0;
}

.success-heading {
  font-size: 32px;
}

.success-text {
  margin: 0 2em;
  width: 50%;
}

.success-text-para {
  margin: 1em 0;
  line-height: 1.5;
  font-size: 18px;
}

.success-image {
  width: 48%;
  height: auto;
}

/* =========== FOOTER STYLES =========== */
footer {
  width: 100vw;
  background-color: #000;
  height: 250px;
  padding: 2.5% 0 10% 0;
  font-family: 'Roboto', sans-serif;
}

.footer-container {
  border-bottom: 0.5px solid #8a8a8a;  
}

.footer-nav {
  width: 30%;
  margin: 2.5% 0 7.5% 10%;
}

.footer-heading {
  color: #8a8a8a;
  border-bottom: 0.5px solid #8a8a8a;
  margin-bottom: 2em;
}

.ft-list {
  list-style: none;
}

.ft-link{
  text-decoration: none;
  color: #8a8a8a;
  line-height: 2em;
  font-weight: 300;
}

.copyright,
.copyright-text  {
  font-size: 14px;;
  padding-top: 1.25%;
  color: #8a8a8a;
  text-decoration: none;
}

.copyright { 
  text-align: center;
}

