* {
    margin: 0;
    padding: 0;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    list-style: none;
    background-color: #fefefe;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 15px;
}

.nav-item {
    font-size: 16px;
    color: #404040;
    margin-left: 20px;
    text-transform: uppercase;
    font-family: sans-serif;
    text-decoration: none;
    list-style: none;
}

.nav-item:hover {
    color: #242424;
    font-weight: 700;
}

/* =========== HEADER STYLES =========== */

.hero-img {
    height: auto;
    width: 100vw;
}

.active {
    border-bottom: 2px solid rgb(88, 236, 42);
    font-weight: 700;
}

.logo-container {
    position: absolute;
    left: 5%;
}

.logo {
    display: flex;
    flex-direction: column;
    text-decoration: none;
}

.logo-img {
    height: 44px;
    width: auto;
    margin: auto;
    border-radius: 50%;
}

.logo-text {
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    color: #000;
}

/* =========== MAIN SECTION STYLES =========== */
main {
    padding-bottom: 2em;
}

.info-section {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-left: 10em;
    margin-right: 10em;
    font-family: "Roboto", sans-serif;
}

.info-section-para {
    line-height: 1.5;
    font-size: 1.2rem;
}

.site-overview {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: 4em;
}

/* ============================================================ */
/* June 4th homework */
.centered {
    width: 65%;
    margin-left: 17.5%;
}

.lrg-text {
    font-size: 1.5rem;
}

.red-text {
    color: red;
}

.xl-text {
    font-size: 4rem;
}

.mb1 {
    margin-bottom: 1em;
}

/* .effects-list-item {
  margin-bottom: 2em;
} */

/* =========== end of June 4th homework =========== */

/* CARD CSS */
.card {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    max-width: 45%;
    max-height: 350px;
    margin-top: 2em;
    margin-bottom: 1em;
    margin-left: 0;
    margin-right: 0;
    font-family: "Roboto", sans-serif;
    background-color: #f5f5f5;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.16);
    overflow: scroll;
}

.card-body {
    display: flex;
    flex-direction: column;
}

.card-heading,
.card-body {
    line-height: 1.5;
    padding: 0 1em;
    margin-bottom: 0.8em;
}

.card-img {
    height: auto;
    width: 50%;
    padding-bottom: 2em;
}

.btn-link {
    background-color: #2222cf;
    color: white;
    padding: 0.5em 1em;
    text-decoration: none;
    border-radius: 20px;
    float: right;
    margin-right: 1em;
    margin-bottom: 1em;
}

.btn-link:hover {
    background-color: #1111b1;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.16);
}
/* END OF CARD CSS */

/* =========== FOOTER STYLES =========== */
footer {
    background-color: #3c4248;
    padding-top: 50px;
    padding-bottom: 15px;
    padding-left: 100px;
}

.footer-list {
    list-style: none;
}

.footer-list-item > a {
    line-height: 2.2;
    text-decoration: none;
    font-size: 1em;
    font-family: sans-serif;
    color: #fefefe;
    text-transform: uppercase;
}

.copyright,
.copyright-text {
    font-size: 14px;
    padding-top: 1.25%;
    color: #8a8a8a;
    text-decoration: none;
}

.copyright {
    text-align: center;
    padding-top: 1.4em;
}

/* June 18th 
   causesAndEffects page styles */
.flex-container-col {
    display: flex;
    flex-direction: column;
    margin-top: 4em;
    margin-bottom: 4em;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0;
}

.card-img-medium {
    max-height: auto;
    width: 50%;
}

.padding-right-left {
    padding-left: 5rem;
    padding-right: 5rem;
}

.padding-top-bottom {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/* July 9th class work */
.about {
    display: flex;
    flex-direction: row;
}

.image-greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.profile-pic {
    height: 20rem;
    width: auto;
    border-radius: 50%;
}

.mb2 {
    margin-bottom: 2em;
}

.about-info {
    padding-left: 4em;
}

.about-para {
    line-height: 1.6;
}

.mt2 {
    margin-top: 2em;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-icon {
    height: 100px;
    width: auto;
}

.skill-icon-small {
    height: 80px;
    width: auto;
}

.small-icon-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.icon-heading {
    font-weight: 900;
    font-size: 1.2em;
    text-transform: uppercase;
}

.main-about {
    width: 70vw;
    margin-left: 15vw;
}

/*  july 30th class work */

.effects-hero-img {
    background-image: url("/images/effects-image.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
}

.hero-text {
    padding-top: 8rem;
    padding-bottom: 8rem;
}

/* index.html:
        - edit slogan 
            - xl-text mb1
        - edit subtext 
            - lrg-text mb1
        - edit reference
            - mb2
    main
        - remove padding-top: 2em;
    footer
        - causes and effects link text
        - move paddings to <footer>
        - remove "site map"
        - copy paste from index.html

    header 
        - invrease pt and pb to 40px
        - change hero-img src to leaf
    
    about.html
        - profile-pic: 20rem
       
*/
.hero-section {
    height: 100vh;
    background: url("../images/tiger-in-sunlight.png");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    position: relative;
}

.hero-section::after {
    height: 100vh;
    width: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.margin-top-bottom {
    margin-top: 8rem;
    margin-bottom: 8rem;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: rgb(150, 155, 138);
    padding-top: 8em;
    padding-bottom: 8em;
    padding-left: 8em;
    padding-right: 8em;
}

.card-vertical {
    display: flex;
    flex-direction: column;
    height: 300px;
    width: 300px;
    margin-top: 0;
    overflow: hidden;
    position: relative;
}

.title-light {
    font-family: "Roboto", sans-serif;
    color: #ebebeb;
    align-self: flex-end;
    margin-left: 14rem;
}

.card-img-vert {
    width: 100%;
    height: 100%;
}

.card-title-vert {
    z-index: 1;
    color: #ebebeb;
    position: relative;
    padding-bottom: 0.5rem;
}

/* Bottom left text */
.bottom-left {
    position: absolute;
    bottom: 0;
    left: 0;
}

.opacity50 {
    background-color: rgba(1, 1, 1, 0.6);
    padding-top: 1rem;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
}

.bottom-left > * {
    position: static;
}

.text-light {
    color: #ebebeb;
}

.text-grey {
    color: rgba(222, 222, 222, 0.8);
}
